# See http://help.github.com/ignore-files/ for more about ignoring files.

# Playwright
test-results/
playwright-report/
playwright/.cache/

# Dependencies
node_modules

# Auth
.auth/storage.json

# Local env variables
.env
.env.development.local
.env.production.local

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# System Files
Thumbs.db
.DS_Store

# TypeScript cache
*.tsbuildinfo

# Logs
logs
*.log
npm-debug.log*
